.h3 {
  color: #132239;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 24px */
  letter-spacing: -0.41px;
  margin: 20px 0 0;
  grid-column: 1 / -1;
  margin-block-end: 0;
  align-self: center;
}

.section7 {
  grid-column: 1 / -1;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #e8ebed;
}

.section7 > :first-child {
  grid-column: 1 / -1;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.section7 > :first-child > :first-child {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 5px;

  & > :first-child {
    color: #828282;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    letter-spacing: -0.41px;
    grid-column: 1 / -1;
  }
  & > :nth-child(2) {
    color: #132239;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
    letter-spacing: -0.41px;

    small {
      color: #6b6b6b;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.41px;
    }
  }
  & > :nth-child(3) {
    color: #2e8d0c;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    letter-spacing: -0.41px;
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    border: 1px solid #e8ebed;
    background: #fff;
  }
  & > :last-child {
    padding: 4px;
    color: #a78736;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    letter-spacing: -0.41px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 3px;
    border: 0.5px solid #a78736;
    background: rgba(167, 135, 54, 0.06);
  }
  * {
    align-self: center;
  }
}

.section7 > :first-child > :last-child {
  display: flex;
  align-items: stretch;
  height: fit-content;
  gap: 12px;
  & > :last-child {
    border-radius: 4px;
    border: 1px solid #ebebeb;
    padding: 0 8px;
  }
  & > :first-child {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 3px;
    border-radius: 6px;
    background: #f9f9f9;
    span {
      cursor: pointer;
      border-radius: 4px;
      display: flex;
      padding: 8px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      color: #121212;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 12px */
      letter-spacing: -0.41px;
    }
    span:hover {
      background-color: #ebebeb;
    }
  }
}

.section7 > :last-child {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.section7SpanActive {
  background-color: white;
  color: #121212;
}
.section7SpanActive:hover {
  background-color: #d6d6d6;
}

.Section7lineChart1Container {
  width: 100%;
  height: 40vh;
  grid-column: span 2;
  align-self: end;
}

.Section7lineChart1Container2 {
  width: 100%;
  height: 18vh;
}

.Section7lineChart1SuperContainer2 {
  & > :first-child {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    & > :first-child {
      color: #828282;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 12px */
      letter-spacing: -0.41px;
    }
    & > :nth-child(2) {
      color: #132239;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 16px */
      letter-spacing: -0.41px;
      small {
        color: #6b6b6b;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.41px;
      }
    }
    & > :last-child {
      grid-row: 1 / 3;
      align-self: center;
      grid-column: 2/3;
      color: #3c51a2;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 12px */
      letter-spacing: -0.41px;
    }
  }
}

// section 8
.section8,
.section10,
.section9 {
  grid-column: 1/-1;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  background: #fff;
  padding: 16px 16px 0;
  margin-bottom: 32px;
}

.section8 > :first-child,
.section10 > :first-child,
.section9 > :first-child {
  color: #132239;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 20px */
  letter-spacing: -0.41px;
  display: block;
  margin: 8px 0px 20px;
}

.section8 > :nth-child(2),
.section10 > :nth-child(2),
.section9 > :nth-child(2) {
  display: grid;
  align-items: center;
  gap: 8px;
}

.section8 > :nth-child(2) {
  grid-template-columns: 1fr repeat(4, auto);
}

.section9 > :nth-child(2) {
  grid-template-columns: 1fr repeat(5, auto);
}
.section10 > :nth-child(2) {
  grid-template-columns: 1fr repeat(3, auto);
}

.section8 > :nth-child(2) > :nth-child(2),
.section8 > :nth-child(2) > :nth-child(3),
.section8 > :nth-child(2) > :nth-child(4),
.section10 > :nth-child(2) > :nth-child(2),
.section10 > :nth-child(2) > :nth-child(3),
.section9 > :nth-child(2) > :nth-child(2),
.section9 > :nth-child(2) > :nth-child(3),
.section9 > :nth-child(2) > :nth-child(4),
.section9 > :nth-child(2) > :nth-child(5) {
  display: flex;
  height: 30px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  color: #26283f;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
  outline: none;
  letter-spacing: -0.41px;
  * {
    outline: none;
  }
}

.section9 > :nth-child(2) > :nth-child(4) {
  width: 200px;
}

.section9 > :nth-child(2) > :nth-child(5) {
  width: 150px;
}

.section9 > :nth-child(2) > :nth-child(3) > :nth-child(1),
.section9 > :nth-child(2) > :nth-child(5) > :nth-child(1),
.section9 > :nth-child(2) > :nth-child(4) > :nth-child(1) {
  border: none;
  padding: 0;
}

.section9 > :nth-child(2) > :nth-child(3) > :nth-child(2),
.section9 > :nth-child(2) > :nth-child(5) > :nth-child(2),
.section9 > :nth-child(2) > :nth-child(4) > :nth-child(2) {
  gap: 0;
  border-radius: 4px;
  border: 1px solid #ebebeb;
}

.section9 > :nth-child(2) > :nth-child(2) {
  padding: 0 8px;
}

.RenderItem {
  border-bottom: 1px solid #ebebeb;
  padding: 5px 8px;
}

.DisplayItem {
  padding: 0 8px;
}

.section8 > :nth-child(2) > button,
.section10 > :nth-child(2) > button,
.section9 > :nth-child(2) > button {
  display: flex;
  padding: 7px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #3a4ca1;
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
  border: none;
}

.section8 > :nth-child(2) > :nth-child(2),
.section10 > :nth-child(2) > :nth-child(2),
.section9 > :nth-child(2) > :nth-child(2) {
  button {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
}

.section8 > table,
.section10 > table,
.section9 > table {
  margin: 16px 0 0;
  border-collapse: collapse;
  width: 100%;
  th {
    text-align: left;
    color: #939393;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    letter-spacing: -0.41px;
    padding: 14px 0;
  }
  tr {
    border-bottom: 1px solid #ebebeb;
    border-color: #ebebeb;
  }
  tr:last-of-type {
    border-bottom: none;
  }
  td {
    padding: 18px 0;
    color: #26283f;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    img,
    svg {
      margin-right: 8px;
    }
    small {
      color: #828282;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 12px */
    }
    button {
      color: #a78736;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 12px */
      display: flex;
      height: 32px;
      padding: 12px;
      justify-content: center;
      align-items: center;
      gap: 14px;
      border: none;
      border-radius: 4px;
      background: #fbf0db;
    }
  }
}

.search {
  display: flex;
  width: 240px;
  padding: 4px 8px;
  height: fit-content;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  input,
  input::placeholder {
    border: none;
    outline: none;
    color: #939393;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    letter-spacing: -0.41px;
  }
}

.section10 {
  tr > td:nth-child(6) {
    word-wrap: break-word;
    max-width: 140px;
  }
  tr > td:last-child {
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: flex-end;
  }
}

.transfert,
.add,
.download {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  * {
    flex-shrink: 0;
    margin: 0 !important;
  }
}
.transfert {
  border-radius: 5px !important;
  border: 0.5px solid #3a4ca1 !important;
  background: #ebedf6 !important;
}
.add {
  border-radius: 5px !important;
  border: 0.5px solid #147a3d !important;
  background: #ecf4ef !important;
}
.download {
  border-radius: 5px !important;
  border: 0.5px solid #d23d28 !important;
  background: #fdebed !important;
}

.Section9StatusCell {
  position: relative;
}

.Section9StatusCellPopUp {
  position: absolute;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.2);
  padding: 14px;
  z-index: 10;
  right: 0;
  bottom: 120%;
  display: grid;
  margin: 0;
  grid-template-columns: auto 1fr;
  width: fit-content;
  justify-items: flex-start;
  column-gap: 10px;
  min-width: 250px;
  row-gap: 8px;
}

.Section9StatusCellPopUp > :first-child {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}

.Section9StatusCellPopUp > :last-child {
  grid-column: 1/-1;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 4px;
  background: rgba(167, 135, 54, 0.1);
  padding: 8px;
  color: #828282;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 15.6px */
  letter-spacing: -0.41px;
}

.Section9StatusCellPopUp > :nth-child(2),
.Section9StatusCellPopUp > :nth-child(4) {
  color: #939393;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
  width: 72px;
  text-align: left;
}

.textRed {
  color: #a78736;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.41px;
  margin: auto;
}

.show {
  display: grid;
}

.hide {
  display: none;
}

.myRequestContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    border-radius: 4px;
    background: #3a4ca1;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    padding: 6px 12px;
    border: none;
  }
}

.container {
  padding: 5px 20px;
}

.container h2 {
  color: #132239;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.41px;
  margin: 0;
}

.statsCardsContainer {
  margin: 16px 0;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.statCardCount {
  color: #132239;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.41px;
}
.statCard {
  background-color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 8px;
}

.statcard-red {
  background-color: #f5656557;
  color: #f56565;
  border-radius: 4px;
  border: 1px solid #f56565;
  width: fit-content;
  padding: 4px;
  margin: 5px 0;
}

.statcard-green {
  background-color: #67e86757;
  color: #67e867;
  border-radius: 4px;
  border: 1px solid #67e867;
  width: fit-content;
  padding: 4px;
  margin: 5px 0;
}

.statcard-gray {
  background-color: #9292923a;
  color: #929292;
  border-radius: 4px;
  border: 1px solid #929292;
  width: fit-content;
  padding: 4px;
  margin: 5px 0;
}

.statcard-orange {
  background-color: #f9914957;
  color: #f99149;
  border-radius: 4px;
  border: 1px solid #f99149;
  width: fit-content;
  padding: 4px;
  margin: 5px 0;
}

.select > .head {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid rgba(128, 128, 128, 0.363);
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  * {
    padding: 0;
    margin: 0;
  }
}

.select {
  position: relative;
}

.bottom {
  position: absolute;
  top: calc(100% + 8px);
  border: 1px solid rgba(128, 128, 128, 0.363);
  border-radius: 5px;
  left: -120%;
  right: 10px;
  width: fit-content;
  display: grid;
  * {
    padding: 5px;
    margin: 0;
  }
  & > * {
    border-bottom: 1px solid rgba(128, 128, 128, 0.363);
  }
  & > :last-child {
    border-bottom: none;
  }
}

.RenderElement {
  background-color: white;
  position: relative;
  cursor: pointer;
  & > p:first-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.options {
  position: absolute;
  left: calc(100% + 15px);
  top: 0;
  border: 1px solid rgba(128, 128, 128, 0.363);
  border-radius: 5px;

  * {
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.363);
  }
  & > :last-child {
    border-bottom: none;
  }
}

.section {
  background-color: white;
  border-radius: 5px;
  margin: 20px 0;
  padding: 15px 12px;
  overflow-x: scroll;
  height: 400px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    height: 10px;
    background-color: #f2f2f2;
    border-radius: 8px;
    overflow: hidden;
  }
  &::-webkit-scrollbar-thumb {
    background: #e2e4e8;
    border-radius: 8px;
  }
  & > div:first-child {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    align-items: center;
    gap: 5px;
    & > :nth-child(2) {
      border-radius: 5px;
      border: 1px solid rgba(128, 128, 128, 0.363);
      height: 100%;
      display: flex;
      align-items: center;
      padding: 5px;
      button {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    & > button {
      height: 100%;
      color: white;
      background-color: blue;
      border: none;
      border-radius: 5px;
    }
  }

  table {
    width: 120vw;
    margin: 16px 0 0;
    border-collapse: collapse;
    th {
      text-align: left;
      color: #939393;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 14px */
      letter-spacing: -0.41px;
      padding: 14px 0;
    }
    tr {
      border-bottom: 1px solid #ebebeb;
      border-color: #ebebeb;
    }
    tr:last-of-type {
      border-bottom: none;
    }
    td {
      padding: 18px 0;
      color: #26283f;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 12px */
      img,
      svg {
        margin-right: 8px;
      }
      small {
        color: #828282;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 12px */
      }
      button {
        color: #a78736;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; /* 12px */
        display: flex;
        height: 32px;
        padding: 12px;
        justify-content: center;
        align-items: center;
        gap: 14px;
        border: none;
        border-radius: 4px;
        background: #fbf0db;
      }
    }
  }
}

.requestPopup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba($color: #000000, $alpha: 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.requestContainer {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
  background: white;
  border-radius: 8px;
}

.requestPopupFooter {
  padding: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: span 2;
  background-color: #ebebeb;
  & > button {
    background: white;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    border: none;
    border-radius: 8px;
  }

  & > button:last-child {
    color: white;
    background-color: #3a4ca1;
  }
}

.requestPopupLeft {
  max-width: 450px;
  padding: 15px;
  border-right: 1px solid rgb(192, 192, 192);
  margin-right: 15px;
  & > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    & > span {
      display: flex;
      align-items: center;
      gap: 5px;
      span {
        background: #a5a5a5;
        height: 5px;
        width: 5px;
        border-radius: 50%;
      }
    }

    div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  & > div:nth-child(2) {
    * {
      color: #3a4ca1;
      font-weight: bold;
    }
  }

  & > p:nth-child(3) {
    color: #828282;
    svg * {
      color: #828282;
    }
    border: 1px solid #d23d28;
    border-radius: 5px;
    padding: 2px 8px;
    width: fit-content;
    margin: 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #daaaaa5e;
  }
  & > p:nth-child(4) {
    position: relative;
    border-radius: 5px;
    border: 1px solid rgb(192, 192, 192);
    padding: 8px;
    height: 120px;
    span {
      position: absolute;
      bottom: 10px;
      right: 10px;
      border: 1px solid rgb(192, 192, 192);
      border-radius: 4px;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.userDetails {
  border-top: 1px solid rgb(199, 199, 199);
  border-bottom: 1px solid rgb(199, 199, 199);
  padding: 15px 15px;
  margin: 0 -15px;
  & > p {
    margin: 4px 0;
  }
  & > p:first-child {
    font-weight: bold;
  }
  span {
    color: #797979;
  }
  & > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 6px;
    border-radius: 5px;
    border: 1px solid rgb(199, 199, 199);
    gap: 8px;
    p {
      margin: 0;
      font-weight: 500;
    }
    p:nth-child(4) {
      border-radius: 3px;
      padding: 2px 4px;
      border: 1px solid rgb(199, 199, 199);
      width: fit-content;
    }

    p:nth-child(8) {
      color: #828282;
      svg * {
        color: #828282;
      }
      border: 1px solid #d23d28;
      border-radius: 5px;
      padding: 2px 8px;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      background-color: #daaaaa5e;
    }
  }
}

.adAccount {
  input {
    width: 100%;
    border: 1px solid rgb(199, 199, 199);
    height: 30px;
    border-radius: 5px;
    padding: 3px 8px;
  }
  input::placeholder {
    color: black;
  }
}

.leftFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px 0 0;
  & > button:first-child {
    height: 30px;
    color: #828282;
    svg * {
      color: #828282;
    }
    border: 1px solid #d23d28;
    border-radius: 5px;
    padding: 2px 8px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #daaaaa5e;
  }
  & > button:last-child {
    background: #3a4ca1;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    border: none;
    border-radius: 8px;
    color: white;
  }
}

.requestPopupRight > div:last-child {
  max-height: 60vh;
  overflow-y: scroll;
}

.popupContent0 {
  margin-right: 20px;
  p {
    font-weight: 500;
    font-size: 14px;
    max-width: 370px;
  }

  & > p {
    font-size: 18px;
  }

  & > .containedBox {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    padding: 8px;
    margin: 8px 0;
    p {
      margin: 0;
    }
  }
}

.rightfooter > div {
  gap: 30px;
  display: flex;
  align-items: center;
}

.requestPopupRightLogo {
  margin: 10px auto;
  width: fit-content;
  border-radius: 50%;
  background-color: #b4bef127;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.requestPopupRightHead {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.popupContent1rightfooter1 {
  display: grid;
  margin: 12px 0 20px;
  grid-template-columns: auto 1fr;
  gap: 8px;
  p {
    font-weight: bold;
    margin: 0;
  }
  & > :nth-child(2n) {
    justify-self: end;
  }
}

.popupContent1rightfooter2 {
  display: grid;
  margin: 20px 0 12px;
  grid-template-columns: auto 1fr;
  gap: 8px;
  p {
    font-weight: bold;
    margin: 0;
  }
  & > :nth-child(2n) {
    justify-self: end;
  }
}
.popupContent2 {
  display: grid;
  gap: 8px;
  ol {
    list-style-type: none; /* Supprime les puces */
    counter-reset: list; /* Réinitialise le compteur pour les listes ordonnées */
  }

  ol li {
    padding-left: 55px;
    span {
      color: #3a4ca1;
    }
  }
  /* Style personnalisé des numéros de puce */
  ol li::before {
    width: 45px;
    height: 45px;
    background-color: #3a4ca1;
    border-radius: 50%;
    color: white;
    margin: 5px 10px;
    margin-left: -55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    content: counter(list) ' '; /* Utilise le compteur */
    counter-increment: list; /* Incrémente le compteur à chaque élément */
  }
  p {
    margin: 4px 0;
    font-weight: bold;
  }
  span {
    margin: 4px 0;
    color: #797979;
  }
  & > div:last-child {
    display: grid;
    gap: 15px;
    grid-template-columns: auto 1fr;
  }
}
